<h1>Users</h1>

<%= render 'layouts/notice' %>

<%= form_for :user_data, url: "users" do |form| %>
<div class="field">
	<%= form.label :name %>
	<%= form.text_field :name %>
</div>

<div class="actions">
	<%= form.submit %>
</div>
<% end  %>