<h1>Rooms</h1>

<%= render 'layouts/notice' %>

<%= form_for :room_data, url: "rooms" do |form| %>
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end  %>

<h2>Existing rooms:</h2>
<% @rooms.each do |room| %>
<div>
  <div><a href="/rooms/<%= room['id'] %>"><%= room['name'] %></a></div>
</div>
<% end %>