<h1>Rooms</h1>

<h2>Room name : <%= @room['name'] %></h2>

<%= render 'layouts/notice' %>

<div>
  <div id="messages">
    <% @messages.each do |message| %>
    <div class="message">
      <span class="message-user"><%= getUserName(message['user_id']) %>: </span>
      <span class="message-content"><%= message['body'] %></span>
    </div>
    <% end %>
  </div>
</div>


<%= form_for :message, :html => {:id => "message-sender"}, url: @url_api + "messages/" do |form| %>
<div class="field">
<%= form.label :message %> [type enter]
<%= form.text_field :body %>
</div>

<%= hidden_field_tag 'message[room_id]', @room['id'] %>

<% end  %>
