// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// COLOR
$brand-primary: #9b2114;

// FONT
$font-size-base: 0.8rem;
$line-height-base: 1.2;
$text-muted: #fff;

// LINK
$link-decoration: none;
$link-hover-decoration: none;
