/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
// https://github.com/twbs/bootstrap-rubygem/blob/master/templates/project/_bootstrap-variables.scss
@import "_custom";
@import "_header";
@import "bootstrap";

h1 {
	font-size: 1.6rem;
	padding-bottom: 10px;
}

h2 {
	font-size: 1.2rem;
	margin-bottom: 10px;
}

#user-info {
	float: right;
}


.container-fluid > form {
	margin-bottom: 20px;
}