// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
	margin: 20px;
	padding: 10px;
	width: 400px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.message {
	margin: 5px 0 5px 0;
}

.message-user {
	font-weight: bold;
}