<ul class="nav nav-tabs fixed-top">
  <li class="nav-item">
    <a class="nav-link" href="#">Chat</a>
  </li>
  <li class="nav-item">
    <%= link_to 'User', root_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Rooms', rooms_path, :class => "nav-link" %>
  </li>
</ul>
