<!DOCTYPE html>
<html>
<head>
	<title>RailsApiChatClient</title>
	<%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<%= render 'layouts/header' %>

	<div class="container-fluid">
		<%= authentication_info %>
		<%= yield %>
	</div>

</body>
</html>
